# Midterm 2 coding Questions Total : 60 
### 50 minute
### Name-
After complition submit it on Moodle using `GitHub` with in the assigned time

### Question 1. Print all of the numbers between 1 to 10 and square each numbers and append those to a new list
- 5 points

In [7]:
list1=[]
for x in range (1,11):
    print(x)
    list1.append(x**2)

1
2
3
4
5
6
7
8
9
10

In [8]:
list1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Question 2. Create a list of 10 random numbers and find out minimum , maximum and total of teh list.
* 5 + 3 = 8 points

In [140]:
import random
random_numbers=[random.randint(1,100) for x in range(1,11)]
random_numbers

[7, 22, 96, 9, 94, 37, 39, 67, 87, 70]

In [144]:
print("Max:",max(random_numbers))
print("Min:",min(random_numbers))
print("Sum:",sum(random_numbers))

Max: 96
Min: 7
Sum: 528

### Question 3. Print `day` and `300` from the new_list
new_list= [10, ['new', 300, [[3.141, 20],  345 ]], 'day' ]
* 3 + 3 = 6 points

In [27]:
new_list= [10, ['new', 300, [[3.141, 20], 345 ]], 'day' ]

new_list[-1]

'day'

In [29]:
new_list= [10, ['new', 300, [[3.141, 20], 345 ]], 'day' ]
new_list[1][1]

300

### Question 4.  College=("Bellarmine", "2001 Neuburg RD")
Print the `name` of the College.
* 5 points

In [30]:
College=("Bellarmine", "2001 Neuburg RD")
name, address = College

In [31]:
print(name)

Bellarmine

### Question 5. In the United States as of 1995, minor is generally legally defined as a person under the age of 18. Write a code to check a student is minor or not. Verify the code by user input
* 6 points

In [36]:
def check_if_minor():
    age=int(input("Enter your age: "))
    if age >= 18:
        print("Not a minor")
    elif age >=0 and age < 18:
        print("Minor")
    else:
        print("Please enter a valid age.")

In [38]:
check_if_minor()

Enter your age: 17
Minor

In [39]:
check_if_minor()

Enter your age: 0
Minor

In [41]:
check_if_minor()

Enter your age: -1
Please enter a valid age.

In [43]:
check_if_minor()

Enter your age: 18
Not a minor

In [44]:
check_if_minor()

Enter your age: 19
Not a minor

### Question 6. Get an input from user and check whether the number is `odd` and `greater than 10`. If not then comment
* 5 points

In [57]:
variable=int(input("Enter an integer: "))
if variable >10 and variable%2 == 1: #checks if greater than ten AND if also odd
    print(f"{variable} is greater than ten and odd")

Enter an integer: 13
13 is greater than ten and odd

True

### Question 7. Get a user input and check the given number is multiple of 11 or not
* 5 points

In [65]:
number=int(input("Enter an integer"))
if number/11 == number//11:
    print(f"{number} is a multiple of 11")
else: 
    print(f"{number} is not a multiple of 11")
    
## includes 0 as a multiple of 11 and negatives too

Enter an integer23
23 is not a multiple of 11

### Question 8. Convert the lists to dictionary
* keys =  [10, 20, 30]
* values =['Ten', 'Twenty', 'Thirty']
* 4 points

In [119]:
dictionary={}
keys = [10, 20, 30]
values =['Ten', 'Twenty', 'Thirty']
for x in range(0,len(keys)):
    dictionary[keys[x]]= values[x]

In [118]:
dictionary

{10: 'Ten', 20: 'Twenty', 30: 'Thirty'}

### Question 9. Write a function that can take `any arbitary numbers` as inputs and calculate the maximum of them. Check the function for two sets of inputs.
* 2+2 points

In [88]:
def Maximum(*args):
    return max(args)

In [90]:
Maximum(13,25,545,1532,1562,15837)

15837

In [91]:
Maximum(3,-14)

3

### Question 10. Write functions to find out Area and Perimeter of a square. Check the result for side = 10.

* 3+3 points

In [93]:
def area_square(side):
    area=side**2
    return area
def perimeter_square(side):
    perimeter= side*4
    return perimeter

In [95]:
area_square(10)

100

In [97]:
perimeter_square(10)

40

### Question 11. Write down two program using while and for loop that prints all of the number from 10 to 20 (included) 
* 3+3 points

In [121]:
flag=10
while flag < 21:
    print(flag)
    flag+=1

10
11
12
13
14
15
16
17
18
19
20

In [100]:
for x in range (10,21):
    print(x)

10
11
12
13
14
15
16
17
18
19
20